.body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(200px, 30vh) 1fr;
  grid-template-areas: "header" "resume";
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* Vars */
  --primary: #2a2f4a;
  --secondary: #2e3450;
  --text-primary: #fff;
  --text-secondary: #9bf1ff;
}

/* Some Defaults */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Fjalla One', 'Open Sans', sans-serif;
  margin: 0;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-primary);
}
h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-primary);
}
h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-primary);
}
h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 1rem;
}
a, p, ul, li {
  color: var(--text-primary);
  margin: 0;
}
ul {
  padding-left: 1rem;
}
li {
  margin-bottom: 0.8rem;
}
section {
  padding: 3rem;
}

.button {
  padding: 0.5rem;
  border: unset;
  border-radius: 3px;
  font-size: medium;
  cursor: pointer;
}
.button.primary {
  background-color: var(--primary);
  color: var(--text-primary);
}
.button.secondary {
  background-color: var(--text-primary);
  color: var(--secondary);
}

/* Markup Specific */

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "title contact" "subtitle contact";
  background-color: var(--primary);
  align-items: start;
}

.header .title {
  grid-area: title;
}
.header .subtitle {
  grid-area: subtitle;
}
.header .contact {
  grid-area: contact;
}

.resume {
  display: grid;
  grid-area: resume;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "about skills" "experience personal" "experience achievements" "experience portfolio";
  background-color: var(--secondary);
}

.resume .about {
  grid-area: about;
  margin-right: 1.4rem;
  margin-bottom: 1.2rem;
}
.resume .experience {
  grid-area: experience;
  margin-right: 1.4rem;
  margin-bottom: 1.2rem;
}
.resume .skills {
  grid-area: skills;
  margin-bottom: 1.2rem;
}
.resume .personal {
  grid-area: personal;
  margin-bottom: 1.2rem;
}
.resume .achievements {
  grid-area: achievements;
  margin-bottom: 1.2rem;
}
.resume .portfolio {
  grid-area: portfolio;
  margin-bottom: 1.2rem;
}

/* Dotted Skills List */
.skills-list {
  list-style: none;
  padding: 0;
}
.skills-list .skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.6rem 0;
}
.skill-dots .dot {
  margin: 0.1rem;
  height: 0.6rem;
  width: 0.6rem;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
}
.skill-dots .dot.dot-filled {
  background-color: var(--text-primary);
}

/* Timeline */
.timeline {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "date content";
}
.timeline .date {
  grid-area: date;
  margin-right: 1rem;
}
.timeline .date hr {
  height: 1px;
  background-color: var(--text-primary);
  border: unset;
}
.timeline .date p {
  color: var(--text-primary);
}

.timeline .content {
  grid-area: content;
}

.timeline .content .title {
  font-size: 1.25rem;
  margin-bottom: 0.6rem;
}

.timeline .content .subtitle {
  margin-bottom: 1rem;
}

/* Media Queries */
@media (max-width: 768px) {
  .body {
    grid-template-rows: minmax(400px, 30vh) 1fr;
  }
  .header {
    grid-template-columns: 1fr !important;
    grid-template-areas: "title" "subtitle" "contact";
  }
  .resume  {
    grid-template-columns: 1fr !important;
    grid-template-areas: "about" "skills" "personal" "achievements" "portfolio" "experience";
  }
}
